= form_for @machine_stripe_standard, :html => { :class => "edit_machine_stripe_standard form-horizontal", :id => "edit_machine_stripe_standard" } do |f|
  = render :partial => "form", :locals => {:f => f}
