<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @inkcatagory.description %>
</p>


<%= link_to 'Edit', edit_inkcatagory_path(@inkcatagory) %> |
<%= link_to 'Back', inkcatagories_path %>
