<h1>Listing plyers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plyers.each do |plyer| %>
  <tr>
    <td><%= link_to 'Show', plyer %></td>
    <td><%= link_to 'Edit', edit_plyer_path(plyer) %></td>
    <td><%= link_to 'Destroy', plyer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plyer', new_plyer_path %>
